@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #166534;	
}
